.header {
  margin-left: 20px;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-weight: 700;
  font-size: 48px;
  color: #37474f;

  --a: 45deg; /* control the angle */
  --t: 0.15em; /* thickness of the underline */
}

.header:after {
  position: absolute;
  bottom: 0.1em;
  left: 1em;
  z-index: -1;
  display: block;
  width: 50%;
  height: 15px;
  background-color: #293256;
  content: "";
}
